/*
BoxLite

BoxLite AI platform API Docs

API version: 1.0
Contact: support@boxlite.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apiclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


type ObservabilityAPI interface {

	/*
	GetTenantLogs Search tenant-scoped platform and Box logs

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ObservabilityAPIGetTenantLogsRequest
	*/
	GetTenantLogs(ctx context.Context) ObservabilityAPIGetTenantLogsRequest

	// GetTenantLogsExecute executes the request
	//  @return PaginatedLogs
	GetTenantLogsExecute(r ObservabilityAPIGetTenantLogsRequest) (*PaginatedLogs, *http.Response, error)

	/*
	GetTenantMetrics Get allowlisted metrics for an owned Box

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ObservabilityAPIGetTenantMetricsRequest
	*/
	GetTenantMetrics(ctx context.Context) ObservabilityAPIGetTenantMetricsRequest

	// GetTenantMetricsExecute executes the request
	//  @return MetricsResponse
	GetTenantMetricsExecute(r ObservabilityAPIGetTenantMetricsRequest) (*MetricsResponse, *http.Response, error)

	/*
	GetTenantTraceSpans Get every tenant-owned span in a trace

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param traceId
	@return ObservabilityAPIGetTenantTraceSpansRequest
	*/
	GetTenantTraceSpans(ctx context.Context, traceId string) ObservabilityAPIGetTenantTraceSpansRequest

	// GetTenantTraceSpansExecute executes the request
	//  @return []TraceSpan
	GetTenantTraceSpansExecute(r ObservabilityAPIGetTenantTraceSpansRequest) ([]TraceSpan, *http.Response, error)

	/*
	GetTenantTraces Search tenant-scoped distributed traces

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ObservabilityAPIGetTenantTracesRequest
	*/
	GetTenantTraces(ctx context.Context) ObservabilityAPIGetTenantTracesRequest

	// GetTenantTracesExecute executes the request
	//  @return PaginatedTraces
	GetTenantTracesExecute(r ObservabilityAPIGetTenantTracesRequest) (*PaginatedTraces, *http.Response, error)
}

// ObservabilityAPIService ObservabilityAPI service
type ObservabilityAPIService service

type ObservabilityAPIGetTenantLogsRequest struct {
	ctx context.Context
	ApiService ObservabilityAPI
	from *time.Time
	to *time.Time
	xBoxLiteOrganizationID *string
	page *float32
	limit *float32
	sources *[]string
	runnerId *string
	boxId *string
	jobId *string
	search *string
	severities *[]string
	traceId *string
}

func (r ObservabilityAPIGetTenantLogsRequest) From(from time.Time) ObservabilityAPIGetTenantLogsRequest {
	r.from = &from
	return r
}

func (r ObservabilityAPIGetTenantLogsRequest) To(to time.Time) ObservabilityAPIGetTenantLogsRequest {
	r.to = &to
	return r
}

// Use with JWT to specify the organization ID
func (r ObservabilityAPIGetTenantLogsRequest) XBoxLiteOrganizationID(xBoxLiteOrganizationID string) ObservabilityAPIGetTenantLogsRequest {
	r.xBoxLiteOrganizationID = &xBoxLiteOrganizationID
	return r
}

func (r ObservabilityAPIGetTenantLogsRequest) Page(page float32) ObservabilityAPIGetTenantLogsRequest {
	r.page = &page
	return r
}

func (r ObservabilityAPIGetTenantLogsRequest) Limit(limit float32) ObservabilityAPIGetTenantLogsRequest {
	r.limit = &limit
	return r
}

func (r ObservabilityAPIGetTenantLogsRequest) Sources(sources []string) ObservabilityAPIGetTenantLogsRequest {
	r.sources = &sources
	return r
}

// Exact logical Runner ID
func (r ObservabilityAPIGetTenantLogsRequest) RunnerId(runnerId string) ObservabilityAPIGetTenantLogsRequest {
	r.runnerId = &runnerId
	return r
}

// Exact Box ID
func (r ObservabilityAPIGetTenantLogsRequest) BoxId(boxId string) ObservabilityAPIGetTenantLogsRequest {
	r.boxId = &boxId
	return r
}

// Exact Job ID
func (r ObservabilityAPIGetTenantLogsRequest) JobId(jobId string) ObservabilityAPIGetTenantLogsRequest {
	r.jobId = &jobId
	return r
}

// Case-insensitive literal substring
func (r ObservabilityAPIGetTenantLogsRequest) Search(search string) ObservabilityAPIGetTenantLogsRequest {
	r.search = &search
	return r
}

func (r ObservabilityAPIGetTenantLogsRequest) Severities(severities []string) ObservabilityAPIGetTenantLogsRequest {
	r.severities = &severities
	return r
}

// Exact OpenTelemetry trace ID
func (r ObservabilityAPIGetTenantLogsRequest) TraceId(traceId string) ObservabilityAPIGetTenantLogsRequest {
	r.traceId = &traceId
	return r
}

func (r ObservabilityAPIGetTenantLogsRequest) Execute() (*PaginatedLogs, *http.Response, error) {
	return r.ApiService.GetTenantLogsExecute(r)
}

/*
GetTenantLogs Search tenant-scoped platform and Box logs

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ObservabilityAPIGetTenantLogsRequest
*/
func (a *ObservabilityAPIService) GetTenantLogs(ctx context.Context) ObservabilityAPIGetTenantLogsRequest {
	return ObservabilityAPIGetTenantLogsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedLogs
func (a *ObservabilityAPIService) GetTenantLogsExecute(r ObservabilityAPIGetTenantLogsRequest) (*PaginatedLogs, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedLogs
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ObservabilityAPIService.GetTenantLogs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/observability/logs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue float32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue float32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.sources != nil {
		t := *r.sources
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sources", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sources", t, "form", "multi")
		}
	}
	if r.runnerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "runnerId", r.runnerId, "form", "")
	}
	if r.boxId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "boxId", r.boxId, "form", "")
	}
	if r.jobId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "jobId", r.jobId, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.severities != nil {
		t := *r.severities
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "severities", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "severities", t, "form", "multi")
		}
	}
	if r.traceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "traceId", r.traceId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xBoxLiteOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-BoxLite-Organization-ID", r.xBoxLiteOrganizationID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ObservabilityAPIGetTenantMetricsRequest struct {
	ctx context.Context
	ApiService ObservabilityAPI
	from *time.Time
	to *time.Time
	boxId *string
	xBoxLiteOrganizationID *string
	metricNames *[]string
}

func (r ObservabilityAPIGetTenantMetricsRequest) From(from time.Time) ObservabilityAPIGetTenantMetricsRequest {
	r.from = &from
	return r
}

func (r ObservabilityAPIGetTenantMetricsRequest) To(to time.Time) ObservabilityAPIGetTenantMetricsRequest {
	r.to = &to
	return r
}

// Exact Box ID
func (r ObservabilityAPIGetTenantMetricsRequest) BoxId(boxId string) ObservabilityAPIGetTenantMetricsRequest {
	r.boxId = &boxId
	return r
}

// Use with JWT to specify the organization ID
func (r ObservabilityAPIGetTenantMetricsRequest) XBoxLiteOrganizationID(xBoxLiteOrganizationID string) ObservabilityAPIGetTenantMetricsRequest {
	r.xBoxLiteOrganizationID = &xBoxLiteOrganizationID
	return r
}

// Allowlisted metric names
func (r ObservabilityAPIGetTenantMetricsRequest) MetricNames(metricNames []string) ObservabilityAPIGetTenantMetricsRequest {
	r.metricNames = &metricNames
	return r
}

func (r ObservabilityAPIGetTenantMetricsRequest) Execute() (*MetricsResponse, *http.Response, error) {
	return r.ApiService.GetTenantMetricsExecute(r)
}

/*
GetTenantMetrics Get allowlisted metrics for an owned Box

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ObservabilityAPIGetTenantMetricsRequest
*/
func (a *ObservabilityAPIService) GetTenantMetrics(ctx context.Context) ObservabilityAPIGetTenantMetricsRequest {
	return ObservabilityAPIGetTenantMetricsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MetricsResponse
func (a *ObservabilityAPIService) GetTenantMetricsExecute(r ObservabilityAPIGetTenantMetricsRequest) (*MetricsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MetricsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ObservabilityAPIService.GetTenantMetrics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/observability/metrics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}
	if r.boxId == nil {
		return localVarReturnValue, nil, reportError("boxId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "boxId", r.boxId, "form", "")
	if r.metricNames != nil {
		t := *r.metricNames
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "metricNames", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "metricNames", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xBoxLiteOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-BoxLite-Organization-ID", r.xBoxLiteOrganizationID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ObservabilityAPIGetTenantTraceSpansRequest struct {
	ctx context.Context
	ApiService ObservabilityAPI
	traceId string
	from *time.Time
	to *time.Time
	xBoxLiteOrganizationID *string
	boxId *string
}

func (r ObservabilityAPIGetTenantTraceSpansRequest) From(from time.Time) ObservabilityAPIGetTenantTraceSpansRequest {
	r.from = &from
	return r
}

func (r ObservabilityAPIGetTenantTraceSpansRequest) To(to time.Time) ObservabilityAPIGetTenantTraceSpansRequest {
	r.to = &to
	return r
}

// Use with JWT to specify the organization ID
func (r ObservabilityAPIGetTenantTraceSpansRequest) XBoxLiteOrganizationID(xBoxLiteOrganizationID string) ObservabilityAPIGetTenantTraceSpansRequest {
	r.xBoxLiteOrganizationID = &xBoxLiteOrganizationID
	return r
}

// Optional owned Box filter
func (r ObservabilityAPIGetTenantTraceSpansRequest) BoxId(boxId string) ObservabilityAPIGetTenantTraceSpansRequest {
	r.boxId = &boxId
	return r
}

func (r ObservabilityAPIGetTenantTraceSpansRequest) Execute() ([]TraceSpan, *http.Response, error) {
	return r.ApiService.GetTenantTraceSpansExecute(r)
}

/*
GetTenantTraceSpans Get every tenant-owned span in a trace

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param traceId
 @return ObservabilityAPIGetTenantTraceSpansRequest
*/
func (a *ObservabilityAPIService) GetTenantTraceSpans(ctx context.Context, traceId string) ObservabilityAPIGetTenantTraceSpansRequest {
	return ObservabilityAPIGetTenantTraceSpansRequest{
		ApiService: a,
		ctx: ctx,
		traceId: traceId,
	}
}

// Execute executes the request
//  @return []TraceSpan
func (a *ObservabilityAPIService) GetTenantTraceSpansExecute(r ObservabilityAPIGetTenantTraceSpansRequest) ([]TraceSpan, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []TraceSpan
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ObservabilityAPIService.GetTenantTraceSpans")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/observability/traces/{traceId}"
	localVarPath = strings.Replace(localVarPath, "{"+"traceId"+"}", url.PathEscape(parameterValueToString(r.traceId, "traceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	if r.boxId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "boxId", r.boxId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xBoxLiteOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-BoxLite-Organization-ID", r.xBoxLiteOrganizationID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ObservabilityAPIGetTenantTracesRequest struct {
	ctx context.Context
	ApiService ObservabilityAPI
	from *time.Time
	to *time.Time
	xBoxLiteOrganizationID *string
	page *float32
	limit *float32
	sources *[]string
	runnerId *string
	boxId *string
	jobId *string
}

func (r ObservabilityAPIGetTenantTracesRequest) From(from time.Time) ObservabilityAPIGetTenantTracesRequest {
	r.from = &from
	return r
}

func (r ObservabilityAPIGetTenantTracesRequest) To(to time.Time) ObservabilityAPIGetTenantTracesRequest {
	r.to = &to
	return r
}

// Use with JWT to specify the organization ID
func (r ObservabilityAPIGetTenantTracesRequest) XBoxLiteOrganizationID(xBoxLiteOrganizationID string) ObservabilityAPIGetTenantTracesRequest {
	r.xBoxLiteOrganizationID = &xBoxLiteOrganizationID
	return r
}

func (r ObservabilityAPIGetTenantTracesRequest) Page(page float32) ObservabilityAPIGetTenantTracesRequest {
	r.page = &page
	return r
}

func (r ObservabilityAPIGetTenantTracesRequest) Limit(limit float32) ObservabilityAPIGetTenantTracesRequest {
	r.limit = &limit
	return r
}

func (r ObservabilityAPIGetTenantTracesRequest) Sources(sources []string) ObservabilityAPIGetTenantTracesRequest {
	r.sources = &sources
	return r
}

// Exact logical Runner ID
func (r ObservabilityAPIGetTenantTracesRequest) RunnerId(runnerId string) ObservabilityAPIGetTenantTracesRequest {
	r.runnerId = &runnerId
	return r
}

// Exact Box ID
func (r ObservabilityAPIGetTenantTracesRequest) BoxId(boxId string) ObservabilityAPIGetTenantTracesRequest {
	r.boxId = &boxId
	return r
}

// Exact Job ID
func (r ObservabilityAPIGetTenantTracesRequest) JobId(jobId string) ObservabilityAPIGetTenantTracesRequest {
	r.jobId = &jobId
	return r
}

func (r ObservabilityAPIGetTenantTracesRequest) Execute() (*PaginatedTraces, *http.Response, error) {
	return r.ApiService.GetTenantTracesExecute(r)
}

/*
GetTenantTraces Search tenant-scoped distributed traces

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ObservabilityAPIGetTenantTracesRequest
*/
func (a *ObservabilityAPIService) GetTenantTraces(ctx context.Context) ObservabilityAPIGetTenantTracesRequest {
	return ObservabilityAPIGetTenantTracesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PaginatedTraces
func (a *ObservabilityAPIService) GetTenantTracesExecute(r ObservabilityAPIGetTenantTracesRequest) (*PaginatedTraces, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PaginatedTraces
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ObservabilityAPIService.GetTenantTraces")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/observability/traces"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return localVarReturnValue, nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return localVarReturnValue, nil, reportError("to is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue float32 = 1
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", defaultValue, "form", "")
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue float32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	if r.sources != nil {
		t := *r.sources
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "sources", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "sources", t, "form", "multi")
		}
	}
	if r.runnerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "runnerId", r.runnerId, "form", "")
	}
	if r.boxId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "boxId", r.boxId, "form", "")
	}
	if r.jobId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "jobId", r.jobId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xBoxLiteOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-BoxLite-Organization-ID", r.xBoxLiteOrganizationID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
