/*
BoxLite

BoxLite AI platform API Docs

API version: 1.0
Contact: support@boxlite.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apiclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type SavedImagesAPI interface {

	/*
		ActivateSavedImage Activate a savedImage

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id SavedImage ID
		@return SavedImagesAPIActivateSavedImageRequest
	*/
	ActivateSavedImage(ctx context.Context, id string) SavedImagesAPIActivateSavedImageRequest

	// ActivateSavedImageExecute executes the request
	//  @return SavedImageDto
	ActivateSavedImageExecute(r SavedImagesAPIActivateSavedImageRequest) (*SavedImageDto, *http.Response, error)

	/*
		CanCleanupImage Check if an image can be cleaned up

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return SavedImagesAPICanCleanupImageRequest
	*/
	CanCleanupImage(ctx context.Context) SavedImagesAPICanCleanupImageRequest

	// CanCleanupImageExecute executes the request
	//  @return bool
	CanCleanupImageExecute(r SavedImagesAPICanCleanupImageRequest) (bool, *http.Response, error)

	/*
		CreateSavedImage Create a new savedImage

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return SavedImagesAPICreateSavedImageRequest
	*/
	CreateSavedImage(ctx context.Context) SavedImagesAPICreateSavedImageRequest

	// CreateSavedImageExecute executes the request
	//  @return SavedImageDto
	CreateSavedImageExecute(r SavedImagesAPICreateSavedImageRequest) (*SavedImageDto, *http.Response, error)

	/*
		DeactivateSavedImage Deactivate a savedImage

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id SavedImage ID
		@return SavedImagesAPIDeactivateSavedImageRequest
	*/
	DeactivateSavedImage(ctx context.Context, id string) SavedImagesAPIDeactivateSavedImageRequest

	// DeactivateSavedImageExecute executes the request
	DeactivateSavedImageExecute(r SavedImagesAPIDeactivateSavedImageRequest) (*http.Response, error)

	/*
		ListSavedImages List all savedImages

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return SavedImagesAPIListSavedImagesRequest
	*/
	ListSavedImages(ctx context.Context) SavedImagesAPIListSavedImagesRequest

	// ListSavedImagesExecute executes the request
	//  @return PaginatedSavedImages
	ListSavedImagesExecute(r SavedImagesAPIListSavedImagesRequest) (*PaginatedSavedImages, *http.Response, error)

	/*
		GetSavedImage Get savedImage by ID or name

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id SavedImage ID or name
		@return SavedImagesAPIGetSavedImageRequest
	*/
	GetSavedImage(ctx context.Context, id string) SavedImagesAPIGetSavedImageRequest

	// GetSavedImageExecute executes the request
	//  @return SavedImageDto
	GetSavedImageExecute(r SavedImagesAPIGetSavedImageRequest) (*SavedImageDto, *http.Response, error)

	/*
		GetSavedImageBuildLogs Get savedImage build logs

		This endpoint is deprecated. Use `getSavedImageBuildLogsUrl` instead.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id SavedImage ID
		@return SavedImagesAPIGetSavedImageBuildLogsRequest

		Deprecated
	*/
	GetSavedImageBuildLogs(ctx context.Context, id string) SavedImagesAPIGetSavedImageBuildLogsRequest

	// GetSavedImageBuildLogsExecute executes the request
	// Deprecated
	GetSavedImageBuildLogsExecute(r SavedImagesAPIGetSavedImageBuildLogsRequest) (*http.Response, error)

	/*
		GetSavedImageBuildLogsUrl Get savedImage build logs URL

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id SavedImage ID
		@return SavedImagesAPIGetSavedImageBuildLogsUrlRequest
	*/
	GetSavedImageBuildLogsUrl(ctx context.Context, id string) SavedImagesAPIGetSavedImageBuildLogsUrlRequest

	// GetSavedImageBuildLogsUrlExecute executes the request
	//  @return Url
	GetSavedImageBuildLogsUrlExecute(r SavedImagesAPIGetSavedImageBuildLogsUrlRequest) (*Url, *http.Response, error)

	/*
		RemoveSavedImage Delete savedImage

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id SavedImage ID
		@return SavedImagesAPIRemoveSavedImageRequest
	*/
	RemoveSavedImage(ctx context.Context, id string) SavedImagesAPIRemoveSavedImageRequest

	// RemoveSavedImageExecute executes the request
	RemoveSavedImageExecute(r SavedImagesAPIRemoveSavedImageRequest) (*http.Response, error)

	/*
		SetSavedImageGeneralStatus Set savedImage general status

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id SavedImage ID
		@return SavedImagesAPISetSavedImageGeneralStatusRequest
	*/
	SetSavedImageGeneralStatus(ctx context.Context, id string) SavedImagesAPISetSavedImageGeneralStatusRequest

	// SetSavedImageGeneralStatusExecute executes the request
	//  @return SavedImageDto
	SetSavedImageGeneralStatusExecute(r SavedImagesAPISetSavedImageGeneralStatusRequest) (*SavedImageDto, *http.Response, error)
}

// SavedImagesAPIService SavedImagesAPI service
type SavedImagesAPIService service

type SavedImagesAPIActivateSavedImageRequest struct {
	ctx                    context.Context
	ApiService             SavedImagesAPI
	id                     string
	xBoxLiteOrganizationID *string
}

// Use with JWT to specify the organization ID
func (r SavedImagesAPIActivateSavedImageRequest) XBoxLiteOrganizationID(xBoxLiteOrganizationID string) SavedImagesAPIActivateSavedImageRequest {
	r.xBoxLiteOrganizationID = &xBoxLiteOrganizationID
	return r
}

func (r SavedImagesAPIActivateSavedImageRequest) Execute() (*SavedImageDto, *http.Response, error) {
	return r.ApiService.ActivateSavedImageExecute(r)
}

/*
ActivateSavedImage Activate a savedImage

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id SavedImage ID
	@return SavedImagesAPIActivateSavedImageRequest
*/
func (a *SavedImagesAPIService) ActivateSavedImage(ctx context.Context, id string) SavedImagesAPIActivateSavedImageRequest {
	return SavedImagesAPIActivateSavedImageRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return SavedImageDto
func (a *SavedImagesAPIService) ActivateSavedImageExecute(r SavedImagesAPIActivateSavedImageRequest) (*SavedImageDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SavedImageDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SavedImagesAPIService.ActivateSavedImage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/saved-images/{id}/activate"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xBoxLiteOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-BoxLite-Organization-ID", r.xBoxLiteOrganizationID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SavedImagesAPICanCleanupImageRequest struct {
	ctx                    context.Context
	ApiService             SavedImagesAPI
	imageName              *string
	xBoxLiteOrganizationID *string
}

// Image name with tag to check
func (r SavedImagesAPICanCleanupImageRequest) ImageName(imageName string) SavedImagesAPICanCleanupImageRequest {
	r.imageName = &imageName
	return r
}

// Use with JWT to specify the organization ID
func (r SavedImagesAPICanCleanupImageRequest) XBoxLiteOrganizationID(xBoxLiteOrganizationID string) SavedImagesAPICanCleanupImageRequest {
	r.xBoxLiteOrganizationID = &xBoxLiteOrganizationID
	return r
}

func (r SavedImagesAPICanCleanupImageRequest) Execute() (bool, *http.Response, error) {
	return r.ApiService.CanCleanupImageExecute(r)
}

/*
CanCleanupImage Check if an image can be cleaned up

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SavedImagesAPICanCleanupImageRequest
*/
func (a *SavedImagesAPIService) CanCleanupImage(ctx context.Context) SavedImagesAPICanCleanupImageRequest {
	return SavedImagesAPICanCleanupImageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return bool
func (a *SavedImagesAPIService) CanCleanupImageExecute(r SavedImagesAPICanCleanupImageRequest) (bool, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue bool
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SavedImagesAPIService.CanCleanupImage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/saved-images/can-cleanup-image"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.imageName == nil {
		return localVarReturnValue, nil, reportError("imageName is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "imageName", r.imageName, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xBoxLiteOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-BoxLite-Organization-ID", r.xBoxLiteOrganizationID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SavedImagesAPICreateSavedImageRequest struct {
	ctx                    context.Context
	ApiService             SavedImagesAPI
	createSavedImage       *CreateSavedImage
	xBoxLiteOrganizationID *string
}

func (r SavedImagesAPICreateSavedImageRequest) CreateSavedImage(createSavedImage CreateSavedImage) SavedImagesAPICreateSavedImageRequest {
	r.createSavedImage = &createSavedImage
	return r
}

// Use with JWT to specify the organization ID
func (r SavedImagesAPICreateSavedImageRequest) XBoxLiteOrganizationID(xBoxLiteOrganizationID string) SavedImagesAPICreateSavedImageRequest {
	r.xBoxLiteOrganizationID = &xBoxLiteOrganizationID
	return r
}

func (r SavedImagesAPICreateSavedImageRequest) Execute() (*SavedImageDto, *http.Response, error) {
	return r.ApiService.CreateSavedImageExecute(r)
}

/*
CreateSavedImage Create a new savedImage

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SavedImagesAPICreateSavedImageRequest
*/
func (a *SavedImagesAPIService) CreateSavedImage(ctx context.Context) SavedImagesAPICreateSavedImageRequest {
	return SavedImagesAPICreateSavedImageRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return SavedImageDto
func (a *SavedImagesAPIService) CreateSavedImageExecute(r SavedImagesAPICreateSavedImageRequest) (*SavedImageDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SavedImageDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SavedImagesAPIService.CreateSavedImage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/saved-images"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createSavedImage == nil {
		return localVarReturnValue, nil, reportError("createSavedImage is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xBoxLiteOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-BoxLite-Organization-ID", r.xBoxLiteOrganizationID, "simple", "")
	}
	// body params
	localVarPostBody = r.createSavedImage
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SavedImagesAPIDeactivateSavedImageRequest struct {
	ctx                    context.Context
	ApiService             SavedImagesAPI
	id                     string
	xBoxLiteOrganizationID *string
}

// Use with JWT to specify the organization ID
func (r SavedImagesAPIDeactivateSavedImageRequest) XBoxLiteOrganizationID(xBoxLiteOrganizationID string) SavedImagesAPIDeactivateSavedImageRequest {
	r.xBoxLiteOrganizationID = &xBoxLiteOrganizationID
	return r
}

func (r SavedImagesAPIDeactivateSavedImageRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeactivateSavedImageExecute(r)
}

/*
DeactivateSavedImage Deactivate a savedImage

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id SavedImage ID
	@return SavedImagesAPIDeactivateSavedImageRequest
*/
func (a *SavedImagesAPIService) DeactivateSavedImage(ctx context.Context, id string) SavedImagesAPIDeactivateSavedImageRequest {
	return SavedImagesAPIDeactivateSavedImageRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *SavedImagesAPIService) DeactivateSavedImageExecute(r SavedImagesAPIDeactivateSavedImageRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SavedImagesAPIService.DeactivateSavedImage")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/saved-images/{id}/deactivate"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xBoxLiteOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-BoxLite-Organization-ID", r.xBoxLiteOrganizationID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SavedImagesAPIListSavedImagesRequest struct {
	ctx                    context.Context
	ApiService             SavedImagesAPI
	xBoxLiteOrganizationID *string
	page                   *float32
	limit                  *float32
	name                   *string
	sort                   *string
	order                  *string
}

// Use with JWT to specify the organization ID
func (r SavedImagesAPIListSavedImagesRequest) XBoxLiteOrganizationID(xBoxLiteOrganizationID string) SavedImagesAPIListSavedImagesRequest {
	r.xBoxLiteOrganizationID = &xBoxLiteOrganizationID
	return r
}

// Page number of the results
func (r SavedImagesAPIListSavedImagesRequest) Page(page float32) SavedImagesAPIListSavedImagesRequest {
	r.page = &page
	return r
}

// Number of results per page
func (r SavedImagesAPIListSavedImagesRequest) Limit(limit float32) SavedImagesAPIListSavedImagesRequest {
	r.limit = &limit
	return r
}

// Filter by partial name match
func (r SavedImagesAPIListSavedImagesRequest) Name(name string) SavedImagesAPIListSavedImagesRequest {
	r.name = &name
	return r
}

// Field to sort by
func (r SavedImagesAPIListSavedImagesRequest) Sort(sort string) SavedImagesAPIListSavedImagesRequest {
	r.sort = &sort
	return r
}

// Direction to sort by
func (r SavedImagesAPIListSavedImagesRequest) Order(order string) SavedImagesAPIListSavedImagesRequest {
	r.order = &order
	return r
}

func (r SavedImagesAPIListSavedImagesRequest) Execute() (*PaginatedSavedImages, *http.Response, error) {
	return r.ApiService.ListSavedImagesExecute(r)
}

/*
ListSavedImages List all savedImages

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return SavedImagesAPIListSavedImagesRequest
*/
func (a *SavedImagesAPIService) ListSavedImages(ctx context.Context) SavedImagesAPIListSavedImagesRequest {
	return SavedImagesAPIListSavedImagesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return PaginatedSavedImages
func (a *SavedImagesAPIService) ListSavedImagesExecute(r SavedImagesAPIListSavedImagesRequest) (*PaginatedSavedImages, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *PaginatedSavedImages
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SavedImagesAPIService.ListSavedImages")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/saved-images"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue float32 = 1
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue float32 = 100
		r.limit = &defaultValue
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "lastUsedAt"
		r.sort = &defaultValue
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	} else {
		var defaultValue string = "desc"
		r.order = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xBoxLiteOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-BoxLite-Organization-ID", r.xBoxLiteOrganizationID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SavedImagesAPIGetSavedImageRequest struct {
	ctx                    context.Context
	ApiService             SavedImagesAPI
	id                     string
	xBoxLiteOrganizationID *string
}

// Use with JWT to specify the organization ID
func (r SavedImagesAPIGetSavedImageRequest) XBoxLiteOrganizationID(xBoxLiteOrganizationID string) SavedImagesAPIGetSavedImageRequest {
	r.xBoxLiteOrganizationID = &xBoxLiteOrganizationID
	return r
}

func (r SavedImagesAPIGetSavedImageRequest) Execute() (*SavedImageDto, *http.Response, error) {
	return r.ApiService.GetSavedImageExecute(r)
}

/*
GetSavedImage Get savedImage by ID or name

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id SavedImage ID or name
	@return SavedImagesAPIGetSavedImageRequest
*/
func (a *SavedImagesAPIService) GetSavedImage(ctx context.Context, id string) SavedImagesAPIGetSavedImageRequest {
	return SavedImagesAPIGetSavedImageRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return SavedImageDto
func (a *SavedImagesAPIService) GetSavedImageExecute(r SavedImagesAPIGetSavedImageRequest) (*SavedImageDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SavedImageDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SavedImagesAPIService.GetSavedImage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/saved-images/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xBoxLiteOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-BoxLite-Organization-ID", r.xBoxLiteOrganizationID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SavedImagesAPIGetSavedImageBuildLogsRequest struct {
	ctx                    context.Context
	ApiService             SavedImagesAPI
	id                     string
	xBoxLiteOrganizationID *string
	follow                 *bool
}

// Use with JWT to specify the organization ID
func (r SavedImagesAPIGetSavedImageBuildLogsRequest) XBoxLiteOrganizationID(xBoxLiteOrganizationID string) SavedImagesAPIGetSavedImageBuildLogsRequest {
	r.xBoxLiteOrganizationID = &xBoxLiteOrganizationID
	return r
}

// Whether to follow the logs stream
func (r SavedImagesAPIGetSavedImageBuildLogsRequest) Follow(follow bool) SavedImagesAPIGetSavedImageBuildLogsRequest {
	r.follow = &follow
	return r
}

func (r SavedImagesAPIGetSavedImageBuildLogsRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetSavedImageBuildLogsExecute(r)
}

/*
GetSavedImageBuildLogs Get savedImage build logs

This endpoint is deprecated. Use `getSavedImageBuildLogsUrl` instead.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id SavedImage ID
	@return SavedImagesAPIGetSavedImageBuildLogsRequest

Deprecated
*/
func (a *SavedImagesAPIService) GetSavedImageBuildLogs(ctx context.Context, id string) SavedImagesAPIGetSavedImageBuildLogsRequest {
	return SavedImagesAPIGetSavedImageBuildLogsRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
// Deprecated
func (a *SavedImagesAPIService) GetSavedImageBuildLogsExecute(r SavedImagesAPIGetSavedImageBuildLogsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SavedImagesAPIService.GetSavedImageBuildLogs")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/saved-images/{id}/build-logs"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.follow != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "follow", r.follow, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xBoxLiteOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-BoxLite-Organization-ID", r.xBoxLiteOrganizationID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SavedImagesAPIGetSavedImageBuildLogsUrlRequest struct {
	ctx                    context.Context
	ApiService             SavedImagesAPI
	id                     string
	xBoxLiteOrganizationID *string
}

// Use with JWT to specify the organization ID
func (r SavedImagesAPIGetSavedImageBuildLogsUrlRequest) XBoxLiteOrganizationID(xBoxLiteOrganizationID string) SavedImagesAPIGetSavedImageBuildLogsUrlRequest {
	r.xBoxLiteOrganizationID = &xBoxLiteOrganizationID
	return r
}

func (r SavedImagesAPIGetSavedImageBuildLogsUrlRequest) Execute() (*Url, *http.Response, error) {
	return r.ApiService.GetSavedImageBuildLogsUrlExecute(r)
}

/*
GetSavedImageBuildLogsUrl Get savedImage build logs URL

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id SavedImage ID
	@return SavedImagesAPIGetSavedImageBuildLogsUrlRequest
*/
func (a *SavedImagesAPIService) GetSavedImageBuildLogsUrl(ctx context.Context, id string) SavedImagesAPIGetSavedImageBuildLogsUrlRequest {
	return SavedImagesAPIGetSavedImageBuildLogsUrlRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return Url
func (a *SavedImagesAPIService) GetSavedImageBuildLogsUrlExecute(r SavedImagesAPIGetSavedImageBuildLogsUrlRequest) (*Url, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Url
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SavedImagesAPIService.GetSavedImageBuildLogsUrl")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/saved-images/{id}/build-logs-url"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xBoxLiteOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-BoxLite-Organization-ID", r.xBoxLiteOrganizationID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type SavedImagesAPIRemoveSavedImageRequest struct {
	ctx                    context.Context
	ApiService             SavedImagesAPI
	id                     string
	xBoxLiteOrganizationID *string
}

// Use with JWT to specify the organization ID
func (r SavedImagesAPIRemoveSavedImageRequest) XBoxLiteOrganizationID(xBoxLiteOrganizationID string) SavedImagesAPIRemoveSavedImageRequest {
	r.xBoxLiteOrganizationID = &xBoxLiteOrganizationID
	return r
}

func (r SavedImagesAPIRemoveSavedImageRequest) Execute() (*http.Response, error) {
	return r.ApiService.RemoveSavedImageExecute(r)
}

/*
RemoveSavedImage Delete savedImage

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id SavedImage ID
	@return SavedImagesAPIRemoveSavedImageRequest
*/
func (a *SavedImagesAPIService) RemoveSavedImage(ctx context.Context, id string) SavedImagesAPIRemoveSavedImageRequest {
	return SavedImagesAPIRemoveSavedImageRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *SavedImagesAPIService) RemoveSavedImageExecute(r SavedImagesAPIRemoveSavedImageRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SavedImagesAPIService.RemoveSavedImage")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/saved-images/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xBoxLiteOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-BoxLite-Organization-ID", r.xBoxLiteOrganizationID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type SavedImagesAPISetSavedImageGeneralStatusRequest struct {
	ctx                           context.Context
	ApiService                    SavedImagesAPI
	id                            string
	setSavedImageGeneralStatusDto *SetSavedImageGeneralStatusDto
	xBoxLiteOrganizationID        *string
}

func (r SavedImagesAPISetSavedImageGeneralStatusRequest) SetSavedImageGeneralStatusDto(setSavedImageGeneralStatusDto SetSavedImageGeneralStatusDto) SavedImagesAPISetSavedImageGeneralStatusRequest {
	r.setSavedImageGeneralStatusDto = &setSavedImageGeneralStatusDto
	return r
}

// Use with JWT to specify the organization ID
func (r SavedImagesAPISetSavedImageGeneralStatusRequest) XBoxLiteOrganizationID(xBoxLiteOrganizationID string) SavedImagesAPISetSavedImageGeneralStatusRequest {
	r.xBoxLiteOrganizationID = &xBoxLiteOrganizationID
	return r
}

func (r SavedImagesAPISetSavedImageGeneralStatusRequest) Execute() (*SavedImageDto, *http.Response, error) {
	return r.ApiService.SetSavedImageGeneralStatusExecute(r)
}

/*
SetSavedImageGeneralStatus Set savedImage general status

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id SavedImage ID
	@return SavedImagesAPISetSavedImageGeneralStatusRequest
*/
func (a *SavedImagesAPIService) SetSavedImageGeneralStatus(ctx context.Context, id string) SavedImagesAPISetSavedImageGeneralStatusRequest {
	return SavedImagesAPISetSavedImageGeneralStatusRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return SavedImageDto
func (a *SavedImagesAPIService) SetSavedImageGeneralStatusExecute(r SavedImagesAPISetSavedImageGeneralStatusRequest) (*SavedImageDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SavedImageDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SavedImagesAPIService.SetSavedImageGeneralStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/saved-images/{id}/general"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setSavedImageGeneralStatusDto == nil {
		return localVarReturnValue, nil, reportError("setSavedImageGeneralStatusDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xBoxLiteOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-BoxLite-Organization-ID", r.xBoxLiteOrganizationID, "simple", "")
	}
	// body params
	localVarPostBody = r.setSavedImageGeneralStatusDto
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
