/*
BoxLite

BoxLite AI platform API Docs

API version: 1.0
Contact: support@boxlite.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apiclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type TemplatesAPI interface {

	/*
		ActivateBoxTemplate Activate a box template

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id Template ID
		@return TemplatesAPIActivateBoxTemplateRequest
	*/
	ActivateBoxTemplate(ctx context.Context, id string) TemplatesAPIActivateBoxTemplateRequest

	// ActivateBoxTemplateExecute executes the request
	//  @return BoxTemplateDto
	ActivateBoxTemplateExecute(r TemplatesAPIActivateBoxTemplateRequest) (*BoxTemplateDto, *http.Response, error)

	/*
		CreateBoxTemplate Create a new box template

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return TemplatesAPICreateBoxTemplateRequest
	*/
	CreateBoxTemplate(ctx context.Context) TemplatesAPICreateBoxTemplateRequest

	// CreateBoxTemplateExecute executes the request
	//  @return BoxTemplateDto
	CreateBoxTemplateExecute(r TemplatesAPICreateBoxTemplateRequest) (*BoxTemplateDto, *http.Response, error)

	/*
		DeactivateBoxTemplate Deactivate a box template

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id Template ID
		@return TemplatesAPIDeactivateBoxTemplateRequest
	*/
	DeactivateBoxTemplate(ctx context.Context, id string) TemplatesAPIDeactivateBoxTemplateRequest

	// DeactivateBoxTemplateExecute executes the request
	DeactivateBoxTemplateExecute(r TemplatesAPIDeactivateBoxTemplateRequest) (*http.Response, error)

	/*
		GetBoxTemplate Get box template by ID or name

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id Template ID or name
		@return TemplatesAPIGetBoxTemplateRequest
	*/
	GetBoxTemplate(ctx context.Context, id string) TemplatesAPIGetBoxTemplateRequest

	// GetBoxTemplateExecute executes the request
	//  @return BoxTemplateDto
	GetBoxTemplateExecute(r TemplatesAPIGetBoxTemplateRequest) (*BoxTemplateDto, *http.Response, error)

	/*
		GetBoxTemplateBuildLogs Get box template build logs

		This endpoint is deprecated. Use `getBoxTemplateBuildLogsUrl` instead.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id Template ID
		@return TemplatesAPIGetBoxTemplateBuildLogsRequest

		Deprecated
	*/
	GetBoxTemplateBuildLogs(ctx context.Context, id string) TemplatesAPIGetBoxTemplateBuildLogsRequest

	// GetBoxTemplateBuildLogsExecute executes the request
	// Deprecated
	GetBoxTemplateBuildLogsExecute(r TemplatesAPIGetBoxTemplateBuildLogsRequest) (*http.Response, error)

	/*
		GetBoxTemplateBuildLogsUrl Get box template build logs URL

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id Template ID
		@return TemplatesAPIGetBoxTemplateBuildLogsUrlRequest
	*/
	GetBoxTemplateBuildLogsUrl(ctx context.Context, id string) TemplatesAPIGetBoxTemplateBuildLogsUrlRequest

	// GetBoxTemplateBuildLogsUrlExecute executes the request
	//  @return Url
	GetBoxTemplateBuildLogsUrlExecute(r TemplatesAPIGetBoxTemplateBuildLogsUrlRequest) (*Url, *http.Response, error)

	/*
		ListBoxTemplates List box templates

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return TemplatesAPIListBoxTemplatesRequest
	*/
	ListBoxTemplates(ctx context.Context) TemplatesAPIListBoxTemplatesRequest

	// ListBoxTemplatesExecute executes the request
	//  @return []BoxTemplateDto
	ListBoxTemplatesExecute(r TemplatesAPIListBoxTemplatesRequest) ([]BoxTemplateDto, *http.Response, error)

	/*
		RemoveBoxTemplate Delete box template

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id Template ID
		@return TemplatesAPIRemoveBoxTemplateRequest
	*/
	RemoveBoxTemplate(ctx context.Context, id string) TemplatesAPIRemoveBoxTemplateRequest

	// RemoveBoxTemplateExecute executes the request
	RemoveBoxTemplateExecute(r TemplatesAPIRemoveBoxTemplateRequest) (*http.Response, error)

	/*
		SetBoxTemplateGeneralStatus Set box template general status

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id Template ID
		@return TemplatesAPISetBoxTemplateGeneralStatusRequest
	*/
	SetBoxTemplateGeneralStatus(ctx context.Context, id string) TemplatesAPISetBoxTemplateGeneralStatusRequest

	// SetBoxTemplateGeneralStatusExecute executes the request
	//  @return BoxTemplateDto
	SetBoxTemplateGeneralStatusExecute(r TemplatesAPISetBoxTemplateGeneralStatusRequest) (*BoxTemplateDto, *http.Response, error)
}

// TemplatesAPIService TemplatesAPI service
type TemplatesAPIService service

type TemplatesAPIActivateBoxTemplateRequest struct {
	ctx                    context.Context
	ApiService             TemplatesAPI
	id                     string
	xBoxLiteOrganizationID *string
}

// Use with JWT to specify the organization ID
func (r TemplatesAPIActivateBoxTemplateRequest) XBoxLiteOrganizationID(xBoxLiteOrganizationID string) TemplatesAPIActivateBoxTemplateRequest {
	r.xBoxLiteOrganizationID = &xBoxLiteOrganizationID
	return r
}

func (r TemplatesAPIActivateBoxTemplateRequest) Execute() (*BoxTemplateDto, *http.Response, error) {
	return r.ApiService.ActivateBoxTemplateExecute(r)
}

/*
ActivateBoxTemplate Activate a box template

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Template ID
	@return TemplatesAPIActivateBoxTemplateRequest
*/
func (a *TemplatesAPIService) ActivateBoxTemplate(ctx context.Context, id string) TemplatesAPIActivateBoxTemplateRequest {
	return TemplatesAPIActivateBoxTemplateRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return BoxTemplateDto
func (a *TemplatesAPIService) ActivateBoxTemplateExecute(r TemplatesAPIActivateBoxTemplateRequest) (*BoxTemplateDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BoxTemplateDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplatesAPIService.ActivateBoxTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/templates/{id}/activate"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xBoxLiteOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-BoxLite-Organization-ID", r.xBoxLiteOrganizationID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TemplatesAPICreateBoxTemplateRequest struct {
	ctx                    context.Context
	ApiService             TemplatesAPI
	createBoxTemplate      *CreateBoxTemplate
	xBoxLiteOrganizationID *string
}

func (r TemplatesAPICreateBoxTemplateRequest) CreateBoxTemplate(createBoxTemplate CreateBoxTemplate) TemplatesAPICreateBoxTemplateRequest {
	r.createBoxTemplate = &createBoxTemplate
	return r
}

// Use with JWT to specify the organization ID
func (r TemplatesAPICreateBoxTemplateRequest) XBoxLiteOrganizationID(xBoxLiteOrganizationID string) TemplatesAPICreateBoxTemplateRequest {
	r.xBoxLiteOrganizationID = &xBoxLiteOrganizationID
	return r
}

func (r TemplatesAPICreateBoxTemplateRequest) Execute() (*BoxTemplateDto, *http.Response, error) {
	return r.ApiService.CreateBoxTemplateExecute(r)
}

/*
CreateBoxTemplate Create a new box template

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TemplatesAPICreateBoxTemplateRequest
*/
func (a *TemplatesAPIService) CreateBoxTemplate(ctx context.Context) TemplatesAPICreateBoxTemplateRequest {
	return TemplatesAPICreateBoxTemplateRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return BoxTemplateDto
func (a *TemplatesAPIService) CreateBoxTemplateExecute(r TemplatesAPICreateBoxTemplateRequest) (*BoxTemplateDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BoxTemplateDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplatesAPIService.CreateBoxTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/templates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createBoxTemplate == nil {
		return localVarReturnValue, nil, reportError("createBoxTemplate is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xBoxLiteOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-BoxLite-Organization-ID", r.xBoxLiteOrganizationID, "simple", "")
	}
	// body params
	localVarPostBody = r.createBoxTemplate
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TemplatesAPIDeactivateBoxTemplateRequest struct {
	ctx                    context.Context
	ApiService             TemplatesAPI
	id                     string
	xBoxLiteOrganizationID *string
}

// Use with JWT to specify the organization ID
func (r TemplatesAPIDeactivateBoxTemplateRequest) XBoxLiteOrganizationID(xBoxLiteOrganizationID string) TemplatesAPIDeactivateBoxTemplateRequest {
	r.xBoxLiteOrganizationID = &xBoxLiteOrganizationID
	return r
}

func (r TemplatesAPIDeactivateBoxTemplateRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeactivateBoxTemplateExecute(r)
}

/*
DeactivateBoxTemplate Deactivate a box template

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Template ID
	@return TemplatesAPIDeactivateBoxTemplateRequest
*/
func (a *TemplatesAPIService) DeactivateBoxTemplate(ctx context.Context, id string) TemplatesAPIDeactivateBoxTemplateRequest {
	return TemplatesAPIDeactivateBoxTemplateRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *TemplatesAPIService) DeactivateBoxTemplateExecute(r TemplatesAPIDeactivateBoxTemplateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplatesAPIService.DeactivateBoxTemplate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/templates/{id}/deactivate"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xBoxLiteOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-BoxLite-Organization-ID", r.xBoxLiteOrganizationID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TemplatesAPIGetBoxTemplateRequest struct {
	ctx                    context.Context
	ApiService             TemplatesAPI
	id                     string
	xBoxLiteOrganizationID *string
}

// Use with JWT to specify the organization ID
func (r TemplatesAPIGetBoxTemplateRequest) XBoxLiteOrganizationID(xBoxLiteOrganizationID string) TemplatesAPIGetBoxTemplateRequest {
	r.xBoxLiteOrganizationID = &xBoxLiteOrganizationID
	return r
}

func (r TemplatesAPIGetBoxTemplateRequest) Execute() (*BoxTemplateDto, *http.Response, error) {
	return r.ApiService.GetBoxTemplateExecute(r)
}

/*
GetBoxTemplate Get box template by ID or name

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Template ID or name
	@return TemplatesAPIGetBoxTemplateRequest
*/
func (a *TemplatesAPIService) GetBoxTemplate(ctx context.Context, id string) TemplatesAPIGetBoxTemplateRequest {
	return TemplatesAPIGetBoxTemplateRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return BoxTemplateDto
func (a *TemplatesAPIService) GetBoxTemplateExecute(r TemplatesAPIGetBoxTemplateRequest) (*BoxTemplateDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BoxTemplateDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplatesAPIService.GetBoxTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/templates/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xBoxLiteOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-BoxLite-Organization-ID", r.xBoxLiteOrganizationID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TemplatesAPIGetBoxTemplateBuildLogsRequest struct {
	ctx                    context.Context
	ApiService             TemplatesAPI
	id                     string
	xBoxLiteOrganizationID *string
	follow                 *bool
}

// Use with JWT to specify the organization ID
func (r TemplatesAPIGetBoxTemplateBuildLogsRequest) XBoxLiteOrganizationID(xBoxLiteOrganizationID string) TemplatesAPIGetBoxTemplateBuildLogsRequest {
	r.xBoxLiteOrganizationID = &xBoxLiteOrganizationID
	return r
}

// Whether to follow the logs stream
func (r TemplatesAPIGetBoxTemplateBuildLogsRequest) Follow(follow bool) TemplatesAPIGetBoxTemplateBuildLogsRequest {
	r.follow = &follow
	return r
}

func (r TemplatesAPIGetBoxTemplateBuildLogsRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetBoxTemplateBuildLogsExecute(r)
}

/*
GetBoxTemplateBuildLogs Get box template build logs

This endpoint is deprecated. Use `getBoxTemplateBuildLogsUrl` instead.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Template ID
	@return TemplatesAPIGetBoxTemplateBuildLogsRequest

Deprecated
*/
func (a *TemplatesAPIService) GetBoxTemplateBuildLogs(ctx context.Context, id string) TemplatesAPIGetBoxTemplateBuildLogsRequest {
	return TemplatesAPIGetBoxTemplateBuildLogsRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
// Deprecated
func (a *TemplatesAPIService) GetBoxTemplateBuildLogsExecute(r TemplatesAPIGetBoxTemplateBuildLogsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplatesAPIService.GetBoxTemplateBuildLogs")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/templates/{id}/build-logs"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.follow != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "follow", r.follow, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xBoxLiteOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-BoxLite-Organization-ID", r.xBoxLiteOrganizationID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TemplatesAPIGetBoxTemplateBuildLogsUrlRequest struct {
	ctx                    context.Context
	ApiService             TemplatesAPI
	id                     string
	xBoxLiteOrganizationID *string
}

// Use with JWT to specify the organization ID
func (r TemplatesAPIGetBoxTemplateBuildLogsUrlRequest) XBoxLiteOrganizationID(xBoxLiteOrganizationID string) TemplatesAPIGetBoxTemplateBuildLogsUrlRequest {
	r.xBoxLiteOrganizationID = &xBoxLiteOrganizationID
	return r
}

func (r TemplatesAPIGetBoxTemplateBuildLogsUrlRequest) Execute() (*Url, *http.Response, error) {
	return r.ApiService.GetBoxTemplateBuildLogsUrlExecute(r)
}

/*
GetBoxTemplateBuildLogsUrl Get box template build logs URL

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Template ID
	@return TemplatesAPIGetBoxTemplateBuildLogsUrlRequest
*/
func (a *TemplatesAPIService) GetBoxTemplateBuildLogsUrl(ctx context.Context, id string) TemplatesAPIGetBoxTemplateBuildLogsUrlRequest {
	return TemplatesAPIGetBoxTemplateBuildLogsUrlRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return Url
func (a *TemplatesAPIService) GetBoxTemplateBuildLogsUrlExecute(r TemplatesAPIGetBoxTemplateBuildLogsUrlRequest) (*Url, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Url
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplatesAPIService.GetBoxTemplateBuildLogsUrl")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/templates/{id}/build-logs-url"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xBoxLiteOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-BoxLite-Organization-ID", r.xBoxLiteOrganizationID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TemplatesAPIListBoxTemplatesRequest struct {
	ctx                    context.Context
	ApiService             TemplatesAPI
	xBoxLiteOrganizationID *string
	page                   *float32
	limit                  *float32
	name                   *string
	sort                   *string
	order                  *string
}

// Use with JWT to specify the organization ID
func (r TemplatesAPIListBoxTemplatesRequest) XBoxLiteOrganizationID(xBoxLiteOrganizationID string) TemplatesAPIListBoxTemplatesRequest {
	r.xBoxLiteOrganizationID = &xBoxLiteOrganizationID
	return r
}

// Page number of the results
func (r TemplatesAPIListBoxTemplatesRequest) Page(page float32) TemplatesAPIListBoxTemplatesRequest {
	r.page = &page
	return r
}

// Number of results per page
func (r TemplatesAPIListBoxTemplatesRequest) Limit(limit float32) TemplatesAPIListBoxTemplatesRequest {
	r.limit = &limit
	return r
}

// Filter by partial name match
func (r TemplatesAPIListBoxTemplatesRequest) Name(name string) TemplatesAPIListBoxTemplatesRequest {
	r.name = &name
	return r
}

// Field to sort by
func (r TemplatesAPIListBoxTemplatesRequest) Sort(sort string) TemplatesAPIListBoxTemplatesRequest {
	r.sort = &sort
	return r
}

// Direction to sort by
func (r TemplatesAPIListBoxTemplatesRequest) Order(order string) TemplatesAPIListBoxTemplatesRequest {
	r.order = &order
	return r
}

func (r TemplatesAPIListBoxTemplatesRequest) Execute() ([]BoxTemplateDto, *http.Response, error) {
	return r.ApiService.ListBoxTemplatesExecute(r)
}

/*
ListBoxTemplates List box templates

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return TemplatesAPIListBoxTemplatesRequest
*/
func (a *TemplatesAPIService) ListBoxTemplates(ctx context.Context) TemplatesAPIListBoxTemplatesRequest {
	return TemplatesAPIListBoxTemplatesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return []BoxTemplateDto
func (a *TemplatesAPIService) ListBoxTemplatesExecute(r TemplatesAPIListBoxTemplatesRequest) ([]BoxTemplateDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue []BoxTemplateDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplatesAPIService.ListBoxTemplates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/templates"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.page != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	} else {
		var defaultValue float32 = 1
		r.page = &defaultValue
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue float32 = 100
		r.limit = &defaultValue
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	} else {
		var defaultValue string = "lastUsedAt"
		r.sort = &defaultValue
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	} else {
		var defaultValue string = "desc"
		r.order = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xBoxLiteOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-BoxLite-Organization-ID", r.xBoxLiteOrganizationID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type TemplatesAPIRemoveBoxTemplateRequest struct {
	ctx                    context.Context
	ApiService             TemplatesAPI
	id                     string
	xBoxLiteOrganizationID *string
}

// Use with JWT to specify the organization ID
func (r TemplatesAPIRemoveBoxTemplateRequest) XBoxLiteOrganizationID(xBoxLiteOrganizationID string) TemplatesAPIRemoveBoxTemplateRequest {
	r.xBoxLiteOrganizationID = &xBoxLiteOrganizationID
	return r
}

func (r TemplatesAPIRemoveBoxTemplateRequest) Execute() (*http.Response, error) {
	return r.ApiService.RemoveBoxTemplateExecute(r)
}

/*
RemoveBoxTemplate Delete box template

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Template ID
	@return TemplatesAPIRemoveBoxTemplateRequest
*/
func (a *TemplatesAPIService) RemoveBoxTemplate(ctx context.Context, id string) TemplatesAPIRemoveBoxTemplateRequest {
	return TemplatesAPIRemoveBoxTemplateRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *TemplatesAPIService) RemoveBoxTemplateExecute(r TemplatesAPIRemoveBoxTemplateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplatesAPIService.RemoveBoxTemplate")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/templates/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xBoxLiteOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-BoxLite-Organization-ID", r.xBoxLiteOrganizationID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type TemplatesAPISetBoxTemplateGeneralStatusRequest struct {
	ctx                         context.Context
	ApiService                  TemplatesAPI
	id                          string
	setBoxTemplateGeneralStatus *SetBoxTemplateGeneralStatus
	xBoxLiteOrganizationID      *string
}

func (r TemplatesAPISetBoxTemplateGeneralStatusRequest) SetBoxTemplateGeneralStatus(setBoxTemplateGeneralStatus SetBoxTemplateGeneralStatus) TemplatesAPISetBoxTemplateGeneralStatusRequest {
	r.setBoxTemplateGeneralStatus = &setBoxTemplateGeneralStatus
	return r
}

// Use with JWT to specify the organization ID
func (r TemplatesAPISetBoxTemplateGeneralStatusRequest) XBoxLiteOrganizationID(xBoxLiteOrganizationID string) TemplatesAPISetBoxTemplateGeneralStatusRequest {
	r.xBoxLiteOrganizationID = &xBoxLiteOrganizationID
	return r
}

func (r TemplatesAPISetBoxTemplateGeneralStatusRequest) Execute() (*BoxTemplateDto, *http.Response, error) {
	return r.ApiService.SetBoxTemplateGeneralStatusExecute(r)
}

/*
SetBoxTemplateGeneralStatus Set box template general status

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Template ID
	@return TemplatesAPISetBoxTemplateGeneralStatusRequest
*/
func (a *TemplatesAPIService) SetBoxTemplateGeneralStatus(ctx context.Context, id string) TemplatesAPISetBoxTemplateGeneralStatusRequest {
	return TemplatesAPISetBoxTemplateGeneralStatusRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return BoxTemplateDto
func (a *TemplatesAPIService) SetBoxTemplateGeneralStatusExecute(r TemplatesAPISetBoxTemplateGeneralStatusRequest) (*BoxTemplateDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BoxTemplateDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplatesAPIService.SetBoxTemplateGeneralStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/templates/{id}/general"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.setBoxTemplateGeneralStatus == nil {
		return localVarReturnValue, nil, reportError("setBoxTemplateGeneralStatus is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xBoxLiteOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-BoxLite-Organization-ID", r.xBoxLiteOrganizationID, "simple", "")
	}
	// body params
	localVarPostBody = r.setBoxTemplateGeneralStatus
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
