/*
BoxLite

BoxLite AI platform API Docs

API version: 1.0
Contact: support@boxlite.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apiclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type TemplatesAPI interface {
	/*
		GetBoxTemplate Get template by ID or name

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id Template ID or name
		@return TemplatesAPIGetBoxTemplateRequest
	*/
	GetBoxTemplate(ctx context.Context, id string) TemplatesAPIGetBoxTemplateRequest

	// GetBoxTemplateExecute executes the request
	//  @return BoxTemplateDto
	GetBoxTemplateExecute(r TemplatesAPIGetBoxTemplateRequest) (*BoxTemplateDto, *http.Response, error)
}

type TemplatesAPIService service

type TemplatesAPIGetBoxTemplateRequest struct {
	ctx                    context.Context
	ApiService             TemplatesAPI
	id                     string
	xBoxLiteOrganizationID *string
}

// Use with JWT to specify the organization ID
func (r TemplatesAPIGetBoxTemplateRequest) XBoxLiteOrganizationID(xBoxLiteOrganizationID string) TemplatesAPIGetBoxTemplateRequest {
	r.xBoxLiteOrganizationID = &xBoxLiteOrganizationID
	return r
}

func (r TemplatesAPIGetBoxTemplateRequest) Execute() (*BoxTemplateDto, *http.Response, error) {
	return r.ApiService.GetBoxTemplateExecute(r)
}

func (a *TemplatesAPIService) GetBoxTemplate(ctx context.Context, id string) TemplatesAPIGetBoxTemplateRequest {
	return TemplatesAPIGetBoxTemplateRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

func (a *TemplatesAPIService) GetBoxTemplateExecute(r TemplatesAPIGetBoxTemplateRequest) (*BoxTemplateDto, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *BoxTemplateDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TemplatesAPIService.GetBoxTemplate")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/templates/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	localVarHTTPContentType := selectHeaderContentType([]string{})
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	localVarHTTPHeaderAccept := selectHeaderAccept([]string{"application/json"})
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.xBoxLiteOrganizationID != nil {
		parameterAddToHeaderOrQuery(localVarHeaderParams, "X-BoxLite-Organization-ID", r.xBoxLiteOrganizationID, "simple", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
