/*
BoxLite

BoxLite AI platform API Docs

API version: 1.0
Contact: support@boxlite.com
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apiclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type BillingAPI interface {

	/*
	BillingControllerGetBoxUsage Method for BillingControllerGetBoxUsage

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId
	@param boxId
	@return BillingAPIBillingControllerGetBoxUsageRequest
	*/
	BillingControllerGetBoxUsage(ctx context.Context, organizationId string, boxId string) BillingAPIBillingControllerGetBoxUsageRequest

	// BillingControllerGetBoxUsageExecute executes the request
	BillingControllerGetBoxUsageExecute(r BillingAPIBillingControllerGetBoxUsageRequest) (*http.Response, error)

	/*
	BillingControllerGetOverview Method for BillingControllerGetOverview

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId
	@return BillingAPIBillingControllerGetOverviewRequest
	*/
	BillingControllerGetOverview(ctx context.Context, organizationId string) BillingAPIBillingControllerGetOverviewRequest

	// BillingControllerGetOverviewExecute executes the request
	BillingControllerGetOverviewExecute(r BillingAPIBillingControllerGetOverviewRequest) (*http.Response, error)

	/*
	BillingControllerGetPricing Method for BillingControllerGetPricing

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId
	@return BillingAPIBillingControllerGetPricingRequest
	*/
	BillingControllerGetPricing(ctx context.Context, organizationId string) BillingAPIBillingControllerGetPricingRequest

	// BillingControllerGetPricingExecute executes the request
	BillingControllerGetPricingExecute(r BillingAPIBillingControllerGetPricingRequest) (*http.Response, error)

	/*
	BillingPaymentControllerCreateTopUp Method for BillingPaymentControllerCreateTopUp

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId
	@return BillingAPIBillingPaymentControllerCreateTopUpRequest
	*/
	BillingPaymentControllerCreateTopUp(ctx context.Context, organizationId string) BillingAPIBillingPaymentControllerCreateTopUpRequest

	// BillingPaymentControllerCreateTopUpExecute executes the request
	BillingPaymentControllerCreateTopUpExecute(r BillingAPIBillingPaymentControllerCreateTopUpRequest) (*http.Response, error)

	/*
	BillingPaymentControllerGetPaymentState Method for BillingPaymentControllerGetPaymentState

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId
	@return BillingAPIBillingPaymentControllerGetPaymentStateRequest
	*/
	BillingPaymentControllerGetPaymentState(ctx context.Context, organizationId string) BillingAPIBillingPaymentControllerGetPaymentStateRequest

	// BillingPaymentControllerGetPaymentStateExecute executes the request
	BillingPaymentControllerGetPaymentStateExecute(r BillingAPIBillingPaymentControllerGetPaymentStateRequest) (*http.Response, error)

	/*
	BillingPaymentControllerListReceipts Method for BillingPaymentControllerListReceipts

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId
	@return BillingAPIBillingPaymentControllerListReceiptsRequest
	*/
	BillingPaymentControllerListReceipts(ctx context.Context, organizationId string) BillingAPIBillingPaymentControllerListReceiptsRequest

	// BillingPaymentControllerListReceiptsExecute executes the request
	BillingPaymentControllerListReceiptsExecute(r BillingAPIBillingPaymentControllerListReceiptsRequest) (*http.Response, error)

	/*
	BillingPaymentControllerSetAutoReload Method for BillingPaymentControllerSetAutoReload

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId
	@return BillingAPIBillingPaymentControllerSetAutoReloadRequest
	*/
	BillingPaymentControllerSetAutoReload(ctx context.Context, organizationId string) BillingAPIBillingPaymentControllerSetAutoReloadRequest

	// BillingPaymentControllerSetAutoReloadExecute executes the request
	BillingPaymentControllerSetAutoReloadExecute(r BillingAPIBillingPaymentControllerSetAutoReloadRequest) (*http.Response, error)

	/*
	BillingPaymentControllerSetupPaymentMethod Method for BillingPaymentControllerSetupPaymentMethod

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organizationId
	@return BillingAPIBillingPaymentControllerSetupPaymentMethodRequest
	*/
	BillingPaymentControllerSetupPaymentMethod(ctx context.Context, organizationId string) BillingAPIBillingPaymentControllerSetupPaymentMethodRequest

	// BillingPaymentControllerSetupPaymentMethodExecute executes the request
	BillingPaymentControllerSetupPaymentMethodExecute(r BillingAPIBillingPaymentControllerSetupPaymentMethodRequest) (*http.Response, error)

	/*
	PaymentWebhookControllerHandle Method for PaymentWebhookControllerHandle

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return BillingAPIPaymentWebhookControllerHandleRequest
	*/
	PaymentWebhookControllerHandle(ctx context.Context) BillingAPIPaymentWebhookControllerHandleRequest

	// PaymentWebhookControllerHandleExecute executes the request
	PaymentWebhookControllerHandleExecute(r BillingAPIPaymentWebhookControllerHandleRequest) (*http.Response, error)
}

// BillingAPIService BillingAPI service
type BillingAPIService service

type BillingAPIBillingControllerGetBoxUsageRequest struct {
	ctx context.Context
	ApiService BillingAPI
	organizationId string
	boxId string
}

func (r BillingAPIBillingControllerGetBoxUsageRequest) Execute() (*http.Response, error) {
	return r.ApiService.BillingControllerGetBoxUsageExecute(r)
}

/*
BillingControllerGetBoxUsage Method for BillingControllerGetBoxUsage

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @param boxId
 @return BillingAPIBillingControllerGetBoxUsageRequest
*/
func (a *BillingAPIService) BillingControllerGetBoxUsage(ctx context.Context, organizationId string, boxId string) BillingAPIBillingControllerGetBoxUsageRequest {
	return BillingAPIBillingControllerGetBoxUsageRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
		boxId: boxId,
	}
}

// Execute executes the request
func (a *BillingAPIService) BillingControllerGetBoxUsageExecute(r BillingAPIBillingControllerGetBoxUsageRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BillingAPIService.BillingControllerGetBoxUsage")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organization/{organizationId}/billing/boxes/{boxId}"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"boxId"+"}", url.PathEscape(parameterValueToString(r.boxId, "boxId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type BillingAPIBillingControllerGetOverviewRequest struct {
	ctx context.Context
	ApiService BillingAPI
	organizationId string
	from *string
	to *string
}

func (r BillingAPIBillingControllerGetOverviewRequest) From(from string) BillingAPIBillingControllerGetOverviewRequest {
	r.from = &from
	return r
}

func (r BillingAPIBillingControllerGetOverviewRequest) To(to string) BillingAPIBillingControllerGetOverviewRequest {
	r.to = &to
	return r
}

func (r BillingAPIBillingControllerGetOverviewRequest) Execute() (*http.Response, error) {
	return r.ApiService.BillingControllerGetOverviewExecute(r)
}

/*
BillingControllerGetOverview Method for BillingControllerGetOverview

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @return BillingAPIBillingControllerGetOverviewRequest
*/
func (a *BillingAPIService) BillingControllerGetOverview(ctx context.Context, organizationId string) BillingAPIBillingControllerGetOverviewRequest {
	return BillingAPIBillingControllerGetOverviewRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
func (a *BillingAPIService) BillingControllerGetOverviewExecute(r BillingAPIBillingControllerGetOverviewRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BillingAPIService.BillingControllerGetOverview")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organization/{organizationId}/billing/overview"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.from == nil {
		return nil, reportError("from is required and must be specified")
	}
	if r.to == nil {
		return nil, reportError("to is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "to", r.to, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type BillingAPIBillingControllerGetPricingRequest struct {
	ctx context.Context
	ApiService BillingAPI
	organizationId string
}

func (r BillingAPIBillingControllerGetPricingRequest) Execute() (*http.Response, error) {
	return r.ApiService.BillingControllerGetPricingExecute(r)
}

/*
BillingControllerGetPricing Method for BillingControllerGetPricing

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @return BillingAPIBillingControllerGetPricingRequest
*/
func (a *BillingAPIService) BillingControllerGetPricing(ctx context.Context, organizationId string) BillingAPIBillingControllerGetPricingRequest {
	return BillingAPIBillingControllerGetPricingRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
func (a *BillingAPIService) BillingControllerGetPricingExecute(r BillingAPIBillingControllerGetPricingRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BillingAPIService.BillingControllerGetPricing")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organization/{organizationId}/billing/pricing"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type BillingAPIBillingPaymentControllerCreateTopUpRequest struct {
	ctx context.Context
	ApiService BillingAPI
	organizationId string
	idempotencyKey *string
}

func (r BillingAPIBillingPaymentControllerCreateTopUpRequest) IdempotencyKey(idempotencyKey string) BillingAPIBillingPaymentControllerCreateTopUpRequest {
	r.idempotencyKey = &idempotencyKey
	return r
}

func (r BillingAPIBillingPaymentControllerCreateTopUpRequest) Execute() (*http.Response, error) {
	return r.ApiService.BillingPaymentControllerCreateTopUpExecute(r)
}

/*
BillingPaymentControllerCreateTopUp Method for BillingPaymentControllerCreateTopUp

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @return BillingAPIBillingPaymentControllerCreateTopUpRequest
*/
func (a *BillingAPIService) BillingPaymentControllerCreateTopUp(ctx context.Context, organizationId string) BillingAPIBillingPaymentControllerCreateTopUpRequest {
	return BillingAPIBillingPaymentControllerCreateTopUpRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
func (a *BillingAPIService) BillingPaymentControllerCreateTopUpExecute(r BillingAPIBillingPaymentControllerCreateTopUpRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BillingAPIService.BillingPaymentControllerCreateTopUp")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organization/{organizationId}/billing/top-ups"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.idempotencyKey == nil {
		return nil, reportError("idempotencyKey is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "idempotency-key", r.idempotencyKey, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type BillingAPIBillingPaymentControllerGetPaymentStateRequest struct {
	ctx context.Context
	ApiService BillingAPI
	organizationId string
}

func (r BillingAPIBillingPaymentControllerGetPaymentStateRequest) Execute() (*http.Response, error) {
	return r.ApiService.BillingPaymentControllerGetPaymentStateExecute(r)
}

/*
BillingPaymentControllerGetPaymentState Method for BillingPaymentControllerGetPaymentState

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @return BillingAPIBillingPaymentControllerGetPaymentStateRequest
*/
func (a *BillingAPIService) BillingPaymentControllerGetPaymentState(ctx context.Context, organizationId string) BillingAPIBillingPaymentControllerGetPaymentStateRequest {
	return BillingAPIBillingPaymentControllerGetPaymentStateRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
func (a *BillingAPIService) BillingPaymentControllerGetPaymentStateExecute(r BillingAPIBillingPaymentControllerGetPaymentStateRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BillingAPIService.BillingPaymentControllerGetPaymentState")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organization/{organizationId}/billing/payment"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type BillingAPIBillingPaymentControllerListReceiptsRequest struct {
	ctx context.Context
	ApiService BillingAPI
	organizationId string
	page *string
	pageSize *string
	query *string
}

func (r BillingAPIBillingPaymentControllerListReceiptsRequest) Page(page string) BillingAPIBillingPaymentControllerListReceiptsRequest {
	r.page = &page
	return r
}

func (r BillingAPIBillingPaymentControllerListReceiptsRequest) PageSize(pageSize string) BillingAPIBillingPaymentControllerListReceiptsRequest {
	r.pageSize = &pageSize
	return r
}

func (r BillingAPIBillingPaymentControllerListReceiptsRequest) Query(query string) BillingAPIBillingPaymentControllerListReceiptsRequest {
	r.query = &query
	return r
}

func (r BillingAPIBillingPaymentControllerListReceiptsRequest) Execute() (*http.Response, error) {
	return r.ApiService.BillingPaymentControllerListReceiptsExecute(r)
}

/*
BillingPaymentControllerListReceipts Method for BillingPaymentControllerListReceipts

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @return BillingAPIBillingPaymentControllerListReceiptsRequest
*/
func (a *BillingAPIService) BillingPaymentControllerListReceipts(ctx context.Context, organizationId string) BillingAPIBillingPaymentControllerListReceiptsRequest {
	return BillingAPIBillingPaymentControllerListReceiptsRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
func (a *BillingAPIService) BillingPaymentControllerListReceiptsExecute(r BillingAPIBillingPaymentControllerListReceiptsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BillingAPIService.BillingPaymentControllerListReceipts")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organization/{organizationId}/billing/receipts"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.page == nil {
		return nil, reportError("page is required and must be specified")
	}
	if r.pageSize == nil {
		return nil, reportError("pageSize is required and must be specified")
	}
	if r.query == nil {
		return nil, reportError("query is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "page", r.page, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "pageSize", r.pageSize, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type BillingAPIBillingPaymentControllerSetAutoReloadRequest struct {
	ctx context.Context
	ApiService BillingAPI
	organizationId string
}

func (r BillingAPIBillingPaymentControllerSetAutoReloadRequest) Execute() (*http.Response, error) {
	return r.ApiService.BillingPaymentControllerSetAutoReloadExecute(r)
}

/*
BillingPaymentControllerSetAutoReload Method for BillingPaymentControllerSetAutoReload

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @return BillingAPIBillingPaymentControllerSetAutoReloadRequest
*/
func (a *BillingAPIService) BillingPaymentControllerSetAutoReload(ctx context.Context, organizationId string) BillingAPIBillingPaymentControllerSetAutoReloadRequest {
	return BillingAPIBillingPaymentControllerSetAutoReloadRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
func (a *BillingAPIService) BillingPaymentControllerSetAutoReloadExecute(r BillingAPIBillingPaymentControllerSetAutoReloadRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BillingAPIService.BillingPaymentControllerSetAutoReload")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organization/{organizationId}/billing/auto-reload"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type BillingAPIBillingPaymentControllerSetupPaymentMethodRequest struct {
	ctx context.Context
	ApiService BillingAPI
	organizationId string
}

func (r BillingAPIBillingPaymentControllerSetupPaymentMethodRequest) Execute() (*http.Response, error) {
	return r.ApiService.BillingPaymentControllerSetupPaymentMethodExecute(r)
}

/*
BillingPaymentControllerSetupPaymentMethod Method for BillingPaymentControllerSetupPaymentMethod

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organizationId
 @return BillingAPIBillingPaymentControllerSetupPaymentMethodRequest
*/
func (a *BillingAPIService) BillingPaymentControllerSetupPaymentMethod(ctx context.Context, organizationId string) BillingAPIBillingPaymentControllerSetupPaymentMethodRequest {
	return BillingAPIBillingPaymentControllerSetupPaymentMethodRequest{
		ApiService: a,
		ctx: ctx,
		organizationId: organizationId,
	}
}

// Execute executes the request
func (a *BillingAPIService) BillingPaymentControllerSetupPaymentMethodExecute(r BillingAPIBillingPaymentControllerSetupPaymentMethodRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BillingAPIService.BillingPaymentControllerSetupPaymentMethod")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organization/{organizationId}/billing/payment/setup"
	localVarPath = strings.Replace(localVarPath, "{"+"organizationId"+"}", url.PathEscape(parameterValueToString(r.organizationId, "organizationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type BillingAPIPaymentWebhookControllerHandleRequest struct {
	ctx context.Context
	ApiService BillingAPI
	stripeSignature *string
}

func (r BillingAPIPaymentWebhookControllerHandleRequest) StripeSignature(stripeSignature string) BillingAPIPaymentWebhookControllerHandleRequest {
	r.stripeSignature = &stripeSignature
	return r
}

func (r BillingAPIPaymentWebhookControllerHandleRequest) Execute() (*http.Response, error) {
	return r.ApiService.PaymentWebhookControllerHandleExecute(r)
}

/*
PaymentWebhookControllerHandle Method for PaymentWebhookControllerHandle

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return BillingAPIPaymentWebhookControllerHandleRequest
*/
func (a *BillingAPIService) PaymentWebhookControllerHandle(ctx context.Context) BillingAPIPaymentWebhookControllerHandleRequest {
	return BillingAPIPaymentWebhookControllerHandleRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *BillingAPIService) PaymentWebhookControllerHandleExecute(r BillingAPIPaymentWebhookControllerHandleRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BillingAPIService.PaymentWebhookControllerHandle")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/billing/webhooks/payment"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.stripeSignature == nil {
		return nil, reportError("stripeSignature is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "stripe-signature", r.stripeSignature, "simple", "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
