# First-boot x86_64 machine: initramfs, serial console, MP tables, no ACPI/PCI.
CONFIG_64BIT=y
CONFIG_SMP=y
CONFIG_NR_CPUS=64
CONFIG_X86_MPPARSE=y
CONFIG_HYPERVISOR_GUEST=y
CONFIG_PARAVIRT=y
CONFIG_KVM_GUEST=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_PRINTK=y
CONFIG_BUG=y
CONFIG_ELF_CORE=y
CONFIG_BINFMT_ELF=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_FUTEX=y
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_DEVTMPFS=y
CONFIG_TTY=y
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_SERIAL_8250_NR_UARTS=1
CONFIG_SERIAL_8250_RUNTIME_UARTS=1
CONFIG_RTC_CLASS=y
CONFIG_RTC_DRV_CMOS=y
CONFIG_RTC_HCTOSYS=y
CONFIG_LOCALVERSION="-boxlite-m1"
# CONFIG_LOCALVERSION_AUTO is not set
# CONFIG_ACPI is not set
# CONFIG_PCI is not set
# CONFIG_MODULES is not set
# CONFIG_RANDOMIZE_BASE is not set
# CONFIG_DEBUG_INFO is not set
# CONFIG_SYSTEM_TRUSTED_KEYRING is not set
